/movie-data.json
*.fasl
*.dx32fsl
/index/
/.DS_Store
/java/index-backend/.gradle/
/java/index-backend/.idea/
/java/index-backend/build/
/java/index-backend/index-backend.iml
/java/index-backend/out/
.DS_Store
